/* Css chung các thẻ div */
.cv-item {
  padding: 20px;
  border: 1px solid black;
  height: 100%;
}

.cv-title {
  padding: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid gray;
}

.cv-icon {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.cv-icon svg {
  width: 30px;
}

#goals,
#team {
  margin-bottom: 20px;
  height: 470px;
}

#scopes,
#primary {
  height: 300px;
}

/* Div Goals */
.goals-item {
  border-bottom: 1px solid gainsboro;
  padding: 10px;
  margin-bottom: 10px;
}

.goals-item:last-child {
  border-bottom: none;
}

/* Div Goals */
.scopes-content {
  padding: 10px;
}

/* Div Team */
.team-item {
  padding: 10px;
}

/* Div Primary */
.primary-item {
  padding: 10px;
}

/* Div Time-line */
.timeline-item {
  padding: 10px;
}

.timeline-item .cv-icon {
  justify-content: flex-start;
}

.timeline-icon {
  border: 1px solid black;
  border-radius: 50%;
  padding: 10px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline-content {
  padding-bottom: 10px;
  border-bottom: 1px dotted gray;
}

/* Responsive */
@media screen and (max-width: 992px) {
  #goals,
  #scopes,
  #team,
  #primary {
    height: auto;
  }

  #scopes,
  #primary {
    margin-bottom: 20px;
  }
}
